@media (min-width: 992px) {
    .container-fluid .row .gambar{
        background-image: url("../img/vecteezy_abstract-flat-liquid-wave-geometric-background_.jpg");
        background-size: cover;
    }

    .container-fluid .row .col-sm-7 .padding1{
        padding: 20px;
    }

    .container-fluid .row .col-sm-7 .padding1 .padding2{
        padding: 20px;
    }

    .container-fluid .row .col-sm-7 .padding1 .padding2 .horizontal{
        height: 2px;
        margin: 30px 0px;
    }
    
}

@media (max-width: 576px) {
    .container-fluid .row .col-sm-7 .tengah{
        text-align: center;
    }

    .container-fluid .row .col-sm-7 .padding1{
        padding: 20px;
        border-radius: 20px;
        margin-top: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-style: solid;
    }
}